<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>视频题库后台管理系统</title>
    <link th:href="@{/static/bootstrap/css/bootstrap.css(path=${#servletContext})}" rel="stylesheet"/>
    <link th:href="@{/static/bootstrap/css/bootstrap-grid.css(path=${#servletContext})}" rel="stylesheet"/>
    <script th:src="@{/static/jquery.min.js(path=${#servletContext})}" type="text/javascript"></script>
    <script th:src="@{/static/js/popper.js(path=${#servletContext})}" type="text/javascript"></script>
    <script th:src="@{/static/bootstrap/js/bootstrap.js(path=${#servletContext})}" type="text/javascript"></script>
</head>

